@model ProductModel
@{
    ViewData["title"] = "Edit Product";
}

<h4>Sofmmmmm</h4>
<form asp-action="Edit"> 
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label>Name</label>
        <input asp-for="Name" class="form-controll" />
        <span asp-validation-for="Name" class="text-danger"/>
    </div>
    <div class="form-group">
        <label>Price</label>
        <input asp-for="Price" class="form-controll" />
        <span asp-validation-for="Price" class="text-danger"/>
    </div>
    <div class="form-group">
        <label>Description</label>
        <input asp-for="Description" class="form-controll" />
        <span asp-validation-for="Description" class="text-danger"/>
    </div>
    <div class="form-group">
        <label>Category</label>
        <select asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-controll">
            <option>

            </option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"/>
    </div>
    <div class="form-group">
        <label>Brand</label>
        <select asp-for="BrandId" asp-items="ViewBag.Brands" class="form-controll">
            <option>

            </option>
        </select>
        <span asp-validation-for="BrandId" class="text-danger"/>
    </div>
    <div class="form-group">
        <label>Image</label>
        <input asp-for="Image" class="form-controll" />
        <span asp-validation-for="Image" class="text-danger"/>
    </div>
    <button>Edit</button>
</form>
<a asp-action="Index">Back to list product</a>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}