@model LoginBasic.Models.ViewModel.ViewModelLogin;

@using (Html.BeginForm("Login", "Account", HttpMethod.Post))
{
    <div>
        @Html.LabelFor(m=>m.UserName)
        @Html.EditorFor(m=>m.PassWord)
    </div>

    <div>
        @Html.LabelFor(m => m.UserName)
        @Html.EditorFor(m => m.PassWord)
    </div>
    <div>
            <button type="submit">Login</button>
    </div>
}